html,body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	color: #444;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	font-weight: normal;
	margin-left: 20px;
	margin-bottom: 4px;
}
p {
	margin-left: 20px;
}

.map {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	opacity:.6;
}

.legend {
	position: fixed;
	bottom: 20px;
	width: auto;
	padding: 20px;
	left: 20px;
	background: rgba(255,255,255,.5);
}

.legend-item {
	text-align: left;
	padding: 3px 0;
	cursor: pointer;
}

#mollweide {
	color: #FFAA00;
}
#orthographic {
	color: #004DA8;
}
#gnomonic {
	color: #00A9E6;
}
#lambert {
	color: #8400A8;
}
#albers {
	color: #38A800;
}
#web-mercator {
	color: #FF0000;
}
#mercator {
	color: #FF73DF;
}
#plate-carree {
	color: #A87000;
}